.advantages {
  min-height: 470 px;
  padding: 70px 0 78px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  &__descr {
    display: block;
    text-align: center;
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 300;
    margin-top: 25px;
    line-height: 17px;
    width: 247px;
    span {
      display: block;
      text-align: center;
      color: #0d0d0d;
      font-size: 18px;
      font-weight: 700;
      margin: 38px 0 26px 0;
    }
  }
  &__link {
    a {
      color: #ff0000;
      text-decoration: underline;
    }
  }
  &__icon {
    &_animated {
      animation: heartbeat 1.5s ease infinite;
      // animation-name: heartbeat;
      // animation-duration: 1.5s;
      // animation-timing-function: ease;
      // animation-iteration-count: infinite;
      &:hover {
        animation-play-state: paused;
      }
    }
  }
}
