.button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: $main-color;
  border: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  &:hover {
    box-shadow: 0 0 10px #fff;
    transition: 0.2s all;
  }
  &_main {
    width: 300px;
    height: 50px;
    margin-top: 67px;
    font-size: 16px;
    font-weight: 400;
  }
  &_submit {
    width: 100%;
    height: 55px;
    font-size: 16px;
    font-weight: 400;
  }
  &_mini {
    width: 131px;
    height: 40px;
    font-size: 14px;
  }
}
