.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
  input {
    margin-bottom: 15px;
    height: 50px;
    border-radius: 5px;
    background-color: #ffffff;
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: #4b4b4b;
    padding-left: 20px;
    &:nth-child(3) {
      margin-bottom: 20px;
    }
  }
  &_mt25 {
    margin-top: 25px;
  }
}
