.title {
  color: #0d0d0d;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  &_left {
    color: #ffffff;
    font-size: 36px;
    text-align: left;
    margin-bottom: 0;
    line-height: 45px;
  }
  &_catalog {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
  }
  &_recalls {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 30px;
  }
}
